@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background: #000000 url("../../images/%d0%ba%d0%b0%d0%bc%d0%b5%d0%bd%d0%bd%d0%b0%d1%8f-%d0%ba%d0%bb%d0%b0%d0%b4%d0%ba%d0%b0-%d1%82%d0%b5%d0%bb%d0%b5%d1%84%d0%be%d0%bd.jpg") no-repeat center center scroll;
	background-size: cover !important;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 569.9911546110767px;
	padding-bottom: 0px;
}

#u1574
{
	z-index: 2;
	width: 380px;
	min-height: 37px;
	margin-right: -10000px;
}

#u1138
{
	z-index: 3;
	width: 380px;
	height: 102px;
	margin-right: -10000px;
}

#U1147_animation
{
	width: 380px;
	height: 102px;
}

#u1148
{
	z-index: 16;
	width: 380px;
	margin-top: 7px;
	position: relative;
}

#u1153-18
{
	z-index: 17;
	width: 380px;
	min-height: 145px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../../images/%d0%b8%d0%bd%d1%84%d0%be%d1%80%d0%bc%d0%b0%d1%86%d0%b8%d0%be%d0%bd%d0%bd%d1%8b%d0%b9%20%d1%89%d0%b8%d1%82%20%d1%81%d0%ba.jpg") no-repeat center center;
}

#u1153-2
{
	line-height: 17px;
}

#u1153-4,#u1153-6,#u1153-8,#u1153-10,#u1153-12,#u1153-14,#u1153-16
{
	line-height: 14px;
}

#u1154
{
	z-index: 35;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 3px;
}

#u1149
{
	z-index: 37;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 135px;
	left: 371px;
}

#u1151
{
	z-index: 39;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 371px;
}

#u1156
{
	z-index: 41;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
}

#u1158
{
	z-index: 43;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u1159
{
	z-index: 44;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#u1161
{
	z-index: 46;
	width: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#pamphletu1179
{
	z-index: 47;
	width: 0.01px;
	height: 48px;
	position: relative;
	margin-right: -10000px;
}

#u1182
{
	z-index: 48;
	width: 86px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1183
{
	position: absolute;
	height: 60px;
	width: 93px;
	vertical-align: top;
	background: url("../../images/%d0%b0%d0%ba-u1183.png") no-repeat 4px 0px;
	left: -4px;
}

#u1183:hover
{
	background: url("../../images/%d0%b0%d0%ba-2-u1183-r.png") no-repeat 4px 0px;
}

#u1183:active
{
	background: url("../../images/%d0%b0%d0%ba-3-u1183-m.png") no-repeat 4px 0px;
}

#u1183.PamphletThumbSelected
{
	background: url("../../images/%d0%b0%d0%ba-3-u1183-a.png") no-repeat 0px 0px;
}

#u1184
{
	position: absolute;
	width: 85px;
	top: -55px;
}

#u1184popup
{
	z-index: 54;
}

#u1185
{
	z-index: 55;
	width: 85px;
	height: 55px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d0%ba%d0%b0%d1%80%d1%82%d0%be%d1%87%d0%ba%d0%b0%20%d0%ba%d0%b0%d1%82%d0%b0%d0%bb%d0%be%d0%b3%d0%b0.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1185:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1186-4
{
	z-index: 56;
	width: 85px;
	min-height: 55px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1186-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px -10000px 0px 0px;
}

#u1186-4:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 55px;
	margin: 0px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu1162
{
	z-index: 60;
	width: 0.01px;
	height: 48px;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
}

#u1165
{
	z-index: 61;
	width: 86px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1166
{
	position: absolute;
	height: 60px;
	width: 93px;
	vertical-align: top;
	background: url("../../images/%d1%81%d0%ba-u1166.png") no-repeat 4px 0px;
	left: -4px;
}

#u1166:hover
{
	background: url("../../images/%d1%81%d0%ba-2-u1166-r.png") no-repeat 4px 0px;
}

#u1166:active
{
	background: url("../../images/%d1%81%d0%ba-3-u1166-m.png") no-repeat 4px 0px;
}

#u1166.PamphletThumbSelected
{
	background: url("../../images/%d1%81%d0%ba-3-u1166-a.png") no-repeat 0px 0px;
}

#u1167
{
	position: absolute;
	width: 85px;
	top: -63px;
}

#u1167popup
{
	z-index: 67;
}

#u1168
{
	z-index: 68;
	width: 85px;
	height: 63px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d0%ba%d0%b0%d1%80%d1%82%d0%be%d1%87%d0%ba%d0%b0%20%d0%ba%d0%b0%d1%82%d0%b0%d0%bb%d0%be%d0%b3%d0%b0.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1168:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 0, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1169-6
{
	z-index: 69;
	width: 85px;
	min-height: 63px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
}

#u1169-6:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 63px;
	margin: 0px -10000px 0px 0px;
}

#u1169-6:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 63px;
	margin: 0px -10000px 0px 0px;
}

#u1169-2
{
	letter-spacing: 0px;
	padding-top: 12px;
}

#u1169-4
{
	padding-top: 0px;
}

#pamphletu1262
{
	z-index: 77;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 89px;
}

#u1277
{
	z-index: 78;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1278
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be-%d0%be-%d0%b2%d0%bb%d0%b0%d0%b4%d0%b8%d0%bc%d0%b8%d1%80%d0%b0-%d0%b4%d0%b5%d1%8f%d0%bd%d1%8c%d1%8f%d1%85-u1278.png") no-repeat 4px 0px;
	left: -4px;
}

#u1278:hover
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be-%d0%be-%d0%b2%d0%bb%d0%b0%d0%b4%d0%b8%d0%bc%d0%b8%d1%80%d0%b0-%d0%b4%d0%b5%d1%8f%d0%bd%d1%8c%d1%8f%d1%85-u1278-r.png") no-repeat 4px 0px;
}

#u1278:active
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be-%d0%be-%d0%b2%d0%bb%d0%b0%d0%b4%d0%b8%d0%bc%d0%b8%d1%80%d0%b0-%d0%b4%d0%b5%d1%8f%d0%bd%d1%8c%d1%8f%d1%85-u1278-m.png") no-repeat 4px 0px;
}

#u1278.PamphletThumbSelected
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be-%d0%be-%d0%b2%d0%bb%d0%b0%d0%b4%d0%b8%d0%bc%d0%b8%d1%80%d0%b0-%d0%b4%d0%b5%d1%8f%d0%bd%d1%8c%d1%8f%d1%85-u1278-a.png") no-repeat 0px 0px;
}

#u1263
{
	position: absolute;
	width: 309px;
	top: -102px;
	left: -89px;
}

#u1263popup
{
	z-index: 84;
}

#u1264
{
	z-index: 85;
	width: 309px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1264-fr.jpg") no-repeat center center;
	background: rgba(0,0,0,0) url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80.jpg") no-repeat center center;
	background-color: transparent;
	background-size: cover !important;
}

#u1264:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

.gs9
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#u1265-8
{
	z-index: 86;
	width: 243px;
	min-height: 88px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1265-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	margin: 3px -10000px 0px 0px;
}

#u1265-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 88px;
	margin: 3px -10000px 0px 0px;
}

#u1266
{
	z-index: 94;
	width: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 244px;
}

#pamphletu1281
{
	z-index: 96;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 131px;
}

#u1282
{
	z-index: 97;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1283
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%bf%d1%80%d0%b5%d0%b4%d0%b2%d0%be%d0%b5%d0%bd%d0%bd%d0%b0%d1%8f_%d0%bb%d0%b8%d1%80%d0%b8%d0%ba%d0%b0-u1283.png") no-repeat 4px 0px;
	left: -4px;
}

#u1283:hover
{
	background: url("../../images/%d0%bf%d1%80%d0%b5%d0%b4%d0%b2%d0%be%d0%b5%d0%bd%d0%bd%d0%b0%d1%8f_%d0%bb%d0%b8%d1%80%d0%b8%d0%ba%d0%b0-u1283-r.png") no-repeat 4px 0px;
}

#u1283:active
{
	background: url("../../images/%d0%bf%d1%80%d0%b5%d0%b4%d0%b2%d0%be%d0%b5%d0%bd%d0%bd%d0%b0%d1%8f_%d0%bb%d0%b8%d1%80%d0%b8%d0%ba%d0%b0-u1283-m.png") no-repeat 4px 0px;
}

#u1283.PamphletThumbSelected
{
	background: url("../../images/%d0%bf%d1%80%d0%b5%d0%b4%d0%b2%d0%be%d0%b5%d0%bd%d0%bd%d0%b0%d1%8f_%d0%bb%d0%b8%d1%80%d0%b8%d0%ba%d0%b0-u1283-a.png") no-repeat 0px 0px;
}

#u1295
{
	position: absolute;
	width: 285px;
	top: -102px;
	left: -112px;
}

#u1295popup
{
	z-index: 103;
}

#u1296
{
	z-index: 104;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1296-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1296:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1299-8
{
	z-index: 105;
	width: 174px;
	min-height: 49px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 18px;
}

#u1299-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 24px -10000px 0px 0px;
}

#u1299-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 24px -10000px 0px 0px;
}

#u1297
{
	z-index: 113;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 208px;
}

#pamphletu1300
{
	z-index: 115;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 172px;
}

#u1317
{
	z-index: 116;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1318
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%be%d1%82%d0%ba%d1%83%d0%b4%d0%b0-%d0%bf%d1%80%d0%b8%d1%88%d0%bb%d0%b8-%d1%81%d0%bb%d0%b0%d0%b2%d1%8f%d0%bd%d0%b5-u1318.png") no-repeat 4px 0px;
	left: -4px;
}

#u1318:hover
{
	background: url("../../images/%d0%be%d1%82%d0%ba%d1%83%d0%b4%d0%b0-%d0%bf%d1%80%d0%b8%d1%88%d0%bb%d0%b8-%d1%81%d0%bb%d0%b0%d0%b2%d1%8f%d0%bd%d0%b5-u1318-r.png") no-repeat 4px 0px;
}

#u1318:active
{
	background: url("../../images/%d0%be%d1%82%d0%ba%d1%83%d0%b4%d0%b0-%d0%bf%d1%80%d0%b8%d1%88%d0%bb%d0%b8-%d1%81%d0%bb%d0%b0%d0%b2%d1%8f%d0%bd%d0%b5-u1318-m.png") no-repeat 4px 0px;
}

#u1318.PamphletThumbSelected
{
	background: url("../../images/%d0%be%d1%82%d0%ba%d1%83%d0%b4%d0%b0-%d0%bf%d1%80%d0%b8%d1%88%d0%bb%d0%b8-%d1%81%d0%bb%d0%b0%d0%b2%d1%8f%d0%bd%d0%b5-u1318-a.png") no-repeat 0px 0px;
}

#u1307
{
	position: absolute;
	width: 285px;
	top: -102px;
	left: -104px;
}

#u1307popup
{
	z-index: 122;
}

#u1308
{
	z-index: 123;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1308:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1309-10
{
	z-index: 124;
	width: 191px;
	min-height: 62px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 10px;
}

#u1309-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	margin: 16px -10000px 0px 0px;
}

#u1309-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	margin: 16px -10000px 0px 0px;
}

#u1310
{
	z-index: 134;
	width: 60px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 207px;
}

#pamphletu1319
{
	z-index: 136;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 218px;
}

#u1320
{
	z-index: 137;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1321
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d1%81%d0%ba%d0%b0%d0%b7%d0%ba%d0%b0-%d0%be-%d0%bf%d1%80%d0%be%d0%b4%d0%b5%d0%bb%d0%ba%d0%b0%d1%85-%d1%85%d0%b0%d0%bd%d0%b0-u1321.png") no-repeat 4px 0px;
	left: -4px;
}

#u1321:hover
{
	background: url("../../images/%d1%81%d0%ba%d0%b0%d0%b7%d0%ba%d0%b0-%d0%be-%d0%bf%d1%80%d0%be%d0%b4%d0%b5%d0%bb%d0%ba%d0%b0%d1%85-%d1%85%d0%b0%d0%bd%d0%b0-u1321-r.png") no-repeat 4px 0px;
}

#u1321:active
{
	background: url("../../images/%d1%81%d0%ba%d0%b0%d0%b7%d0%ba%d0%b0-%d0%be-%d0%bf%d1%80%d0%be%d0%b4%d0%b5%d0%bb%d0%ba%d0%b0%d1%85-%d1%85%d0%b0%d0%bd%d0%b0-u1321-m.png") no-repeat 4px 0px;
}

#u1321.PamphletThumbSelected
{
	background: url("../../images/%d1%81%d0%ba%d0%b0%d0%b7%d0%ba%d0%b0-%d0%be-%d0%bf%d1%80%d0%be%d0%b4%d0%b5%d0%bb%d0%ba%d0%b0%d1%85-%d1%85%d0%b0%d0%bd%d0%b0-u1321-a.png") no-repeat 0px 0px;
}

#u1327
{
	position: absolute;
	width: 287px;
	top: -102px;
	left: -125px;
}

#u1327popup
{
	z-index: 143;
}

#u1328
{
	z-index: 144;
	width: 287px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1328-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1328:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1331-8
{
	z-index: 145;
	width: 218px;
	min-height: 76px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u1331-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	margin: 3px -10000px 0px 0px;
}

#u1331-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 76px;
	margin: 3px -10000px 0px 0px;
}

#u1329
{
	z-index: 153;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 219px;
}

#pamphletu1338
{
	z-index: 155;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 262px;
}

#u1343
{
	z-index: 156;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1344
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%ba%d0%bb%d0%b8%d0%be-u1344.png") no-repeat 4px 0px;
	left: -4px;
}

#u1344:hover
{
	background: url("../../images/%d0%ba%d0%bb%d0%b8%d0%be-u1344-r.png") no-repeat 4px 0px;
}

#u1344:active
{
	background: url("../../images/%d0%ba%d0%bb%d0%b8%d0%be-u1344-m.png") no-repeat 4px 0px;
}

#u1344.PamphletThumbSelected
{
	background: url("../../images/%d0%ba%d0%bb%d0%b8%d0%be-u1344-a.png") no-repeat 0px 0px;
}

#u1345
{
	position: absolute;
	width: 285px;
	top: -102px;
	left: -167px;
}

#u1345popup
{
	z-index: 162;
}

#u1346
{
	z-index: 163;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1346:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1347-8
{
	z-index: 164;
	width: 163px;
	min-height: 46px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 25px;
}

#u1347-8:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 24px -10000px 0px 0px;
}

#u1347-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 46px;
	margin: 24px -10000px 0px 0px;
}

#u1348
{
	z-index: 172;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 208px;
}

#pamphletu1357
{
	z-index: 174;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 304px;
}

#u1362
{
	z-index: 175;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1363
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b4%d1%80%d1%83%d0%b3%d0%b0%d1%8f_%d0%b4%d0%be%d1%80%d0%be%d0%b3%d0%b0-u1363.png") no-repeat 4px 0px;
	left: -4px;
}

#u1363:hover
{
	background: url("../../images/%d0%b4%d1%80%d1%83%d0%b3%d0%b0%d1%8f_%d0%b4%d0%be%d1%80%d0%be%d0%b3%d0%b0-u1363-r.png") no-repeat 4px 0px;
}

#u1363:active
{
	background: url("../../images/%d0%b4%d1%80%d1%83%d0%b3%d0%b0%d1%8f_%d0%b4%d0%be%d1%80%d0%be%d0%b3%d0%b0-u1363-m.png") no-repeat 4px 0px;
}

#u1363.PamphletThumbSelected
{
	background: url("../../images/%d0%b4%d1%80%d1%83%d0%b3%d0%b0%d1%8f_%d0%b4%d0%be%d1%80%d0%be%d0%b3%d0%b0-u1363-a.png") no-repeat 0px 0px;
}

#u1371
{
	position: absolute;
	width: 285px;
	top: -100px;
	left: -209px;
}

#u1371popup
{
	z-index: 181;
}

#u1372
{
	z-index: 182;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1372:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1375-10
{
	z-index: 183;
	width: 156px;
	min-height: 64px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#u1375-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	margin: 15px -10000px 0px 0px;
}

#u1375-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	margin: 15px -10000px 0px 0px;
}

#u1373
{
	z-index: 193;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 206px;
}

#pu1574,#pu1158,#pu1196
{
	width: 0.01px;
	position: relative;
}

#u1196
{
	z-index: 75;
	width: 380px;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1376
{
	z-index: 195;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1377
{
	z-index: 196;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1378
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b8%d0%b7%d0%b1%d1%80%d0%b0%d0%bd%d0%bd%d0%be%d0%b5-%d1%84%d1%80%d0%be%d1%81%d1%82-u1378.png") no-repeat 4px 0px;
	left: -4px;
}

#u1378:hover
{
	background: url("../../images/%d0%b8%d0%b7%d0%b1%d1%80%d0%b0%d0%bd%d0%bd%d0%be%d0%b5-%d1%84%d1%80%d0%be%d1%81%d1%82-u1378-r.png") no-repeat 4px 0px;
}

#u1378:active
{
	background: url("../../images/%d0%b8%d0%b7%d0%b1%d1%80%d0%b0%d0%bd%d0%bd%d0%be%d0%b5-%d1%84%d1%80%d0%be%d1%81%d1%82-u1378-m.png") no-repeat 4px 0px;
}

#u1378.PamphletThumbSelected
{
	background: url("../../images/%d0%b8%d0%b7%d0%b1%d1%80%d0%b0%d0%bd%d0%bd%d0%be%d0%b5-%d1%84%d1%80%d0%be%d1%81%d1%82-u1378-a.png") no-repeat 0px 0px;
}

#u1379
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -5px;
}

#u1379popup
{
	z-index: 202;
}

#u1380
{
	z-index: 203;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1380:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1381-10
{
	z-index: 204;
	width: 175px;
	min-height: 62px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 20px;
}

#u1381-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	margin: 17px -10000px 0px 0px;
}

#u1381-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 62px;
	margin: 17px -10000px 0px 0px;
}

#u1382
{
	z-index: 214;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 206px;
}

#pamphletu1395
{
	z-index: 216;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 38px;
}

#u1396
{
	z-index: 217;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1397
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_-u1397.png") no-repeat 4px 0px;
	left: -4px;
}

#u1397:hover
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_-u1397-r.png") no-repeat 4px 0px;
}

#u1397:active
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_-u1397-m.png") no-repeat 4px 0px;
}

#u1397.PamphletThumbSelected
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_-u1397-a.png") no-repeat 0px 0px;
}

#u1402
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -38px;
}

#u1402popup
{
	z-index: 223;
}

#u1403
{
	z-index: 224;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1403:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1406-10
{
	z-index: 225;
	width: 133px;
	min-height: 65px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 37px;
}

#u1406-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	margin: 15px -10000px 0px 0px;
}

#u1406-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 65px;
	margin: 15px -10000px 0px 0px;
}

#u1404
{
	z-index: 235;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 201px;
}

#pamphletu1414
{
	z-index: 237;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 81px;
}

#u1431
{
	z-index: 238;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1432
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b3%d0%b5%d1%80%d0%be%d0%b4%d0%be%d1%82%d0%be%d0%b2%d0%b0-%d1%81%d0%ba%d0%b8%d1%84%d0%b8%d1%8f-u1432.png") no-repeat 4px 0px;
	left: -4px;
}

#u1432:hover
{
	background: url("../../images/%d0%b3%d0%b5%d1%80%d0%be%d0%b4%d0%be%d1%82%d0%be%d0%b2%d0%b0-%d1%81%d0%ba%d0%b8%d1%84%d0%b8%d1%8f-u1432-r.png") no-repeat 4px 0px;
}

#u1432:active
{
	background: url("../../images/%d0%b3%d0%b5%d1%80%d0%be%d0%b4%d0%be%d1%82%d0%be%d0%b2%d0%b0-%d1%81%d0%ba%d0%b8%d1%84%d0%b8%d1%8f-u1432-m.png") no-repeat 4px 0px;
}

#u1432.PamphletThumbSelected
{
	background: url("../../images/%d0%b3%d0%b5%d1%80%d0%be%d0%b4%d0%be%d1%82%d0%be%d0%b2%d0%b0-%d1%81%d0%ba%d0%b8%d1%84%d0%b8%d1%8f-u1432-a.png") no-repeat 0px 0px;
}

#u1419
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -81px;
}

#u1419popup
{
	z-index: 244;
}

#u1420
{
	z-index: 245;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1420:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1423-10
{
	z-index: 246;
	width: 161px;
	min-height: 64px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u1423-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	margin: 16px -10000px 0px 0px;
}

#u1423-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	margin: 16px -10000px 0px 0px;
}

#u1421
{
	z-index: 256;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 207px;
}

#pamphletu1433
{
	z-index: 258;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 125px;
}

#u1434
{
	z-index: 259;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1435
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b2%d0%b5%d0%bb%d0%b8%d0%ba%d0%b8%d0%b9-%d0%b8-%d0%bc%d0%be%d0%b3%d1%83%d1%87%d0%b8%d0%b9-u1435.png") no-repeat 4px 0px;
	left: -4px;
}

#u1435:hover
{
	background: url("../../images/%d0%b2%d0%b5%d0%bb%d0%b8%d0%ba%d0%b8%d0%b9-%d0%b8-%d0%bc%d0%be%d0%b3%d1%83%d1%87%d0%b8%d0%b9-u1435-r.png") no-repeat 4px 0px;
}

#u1435:active
{
	background: url("../../images/%d0%b2%d0%b5%d0%bb%d0%b8%d0%ba%d0%b8%d0%b9-%d0%b8-%d0%bc%d0%be%d0%b3%d1%83%d1%87%d0%b8%d0%b9-u1435-m.png") no-repeat 4px 0px;
}

#u1435.PamphletThumbSelected
{
	background: url("../../images/%d0%b2%d0%b5%d0%bb%d0%b8%d0%ba%d0%b8%d0%b9-%d0%b8-%d0%bc%d0%be%d0%b3%d1%83%d1%87%d0%b8%d0%b9-u1435-a.png") no-repeat 0px 0px;
}

#u1445
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -103px;
}

#u1445popup
{
	z-index: 265;
}

#u1446
{
	z-index: 266;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1446:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1447-10
{
	z-index: 267;
	width: 164px;
	min-height: 60px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 28px;
}

#u1447-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 17px -10000px 0px 0px;
}

#u1447-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 60px;
	margin: 17px -10000px 0px 0px;
}

#u1448
{
	z-index: 277;
	width: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 212px;
}

#pamphletu1452
{
	z-index: 279;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 164px;
}

#u1453
{
	z-index: 280;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1454
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be_%d0%be_%d0%bf%d0%be%d0%bb%d0%ba%d1%83-%d0%b8%d0%b3%d0%be%d1%80%d0%b5%d0%b2%d0%b5-u1454.png") no-repeat 4px 0px;
	left: -4px;
}

#u1454:hover
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be_%d0%be_%d0%bf%d0%be%d0%bb%d0%ba%d1%83-%d0%b8%d0%b3%d0%be%d1%80%d0%b5%d0%b2%d0%b5-u1454-r.png") no-repeat 4px 0px;
}

#u1454:active
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be_%d0%be_%d0%bf%d0%be%d0%bb%d0%ba%d1%83-%d0%b8%d0%b3%d0%be%d1%80%d0%b5%d0%b2%d0%b5-u1454-m.png") no-repeat 4px 0px;
}

#u1454.PamphletThumbSelected
{
	background: url("../../images/%d1%81%d0%bb%d0%be%d0%b2%d0%be_%d0%be_%d0%bf%d0%be%d0%bb%d0%ba%d1%83-%d0%b8%d0%b3%d0%be%d1%80%d0%b5%d0%b2%d0%b5-u1454-a.png") no-repeat 0px 0px;
}

#u1459
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -104px;
}

#u1459popup
{
	z-index: 286;
}

#u1460
{
	z-index: 287;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1460:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1461-12
{
	z-index: 288;
	width: 204px;
	min-height: 75px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1461-12:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	margin: 9px -10000px 0px 0px;
}

#u1461-12:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 75px;
	margin: 9px -10000px 0px 0px;
}

#u1462
{
	z-index: 300;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 210px;
}

#pamphletu1471
{
	z-index: 302;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 207px;
}

#u1477
{
	z-index: 303;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1478
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%bf%d0%b5%d1%80%d0%b5%d0%b2%d0%be%d0%b4%d1%8b-u1478.png") no-repeat 4px 0px;
	left: -4px;
}

#u1478:hover
{
	background: url("../../images/%d0%bf%d0%b5%d1%80%d0%b5%d0%b2%d0%be%d0%b4%d1%8b-u1478-r.png") no-repeat 4px 0px;
}

#u1478:active
{
	background: url("../../images/%d0%bf%d0%b5%d1%80%d0%b5%d0%b2%d0%be%d0%b4%d1%8b-u1478-m.png") no-repeat 4px 0px;
}

#u1478.PamphletThumbSelected
{
	background: url("../../images/%d0%bf%d0%b5%d1%80%d0%b5%d0%b2%d0%be%d0%b4%d1%8b-u1478-a.png") no-repeat 0px 0px;
}

#u1485
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -112px;
}

#u1485popup
{
	z-index: 309;
}

#u1486
{
	z-index: 310;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1486:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1487-10
{
	z-index: 311;
	width: 172px;
	min-height: 66px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 18px;
}

#u1487-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	margin: 15px -10000px 0px 0px;
}

#u1487-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 66px;
	margin: 15px -10000px 0px 0px;
}

#u1488
{
	z-index: 321;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 209px;
}

#pamphletu1490
{
	z-index: 323;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 254px;
}

#u1502
{
	z-index: 324;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1503
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d1%87%d0%b8%d1%82%d0%b0%d1%8f_%d0%b4%d1%80%d0%b5%d0%b2%d0%bd%d0%b8%d0%b5_%d0%bb%d0%b5%d1%82%d0%be%d0%bf%d0%b8%d1%81%d0%b8-u1503.png") no-repeat 4px 0px;
	left: -4px;
}

#u1503:hover
{
	background: url("../../images/%d1%87%d0%b8%d1%82%d0%b0%d1%8f_%d0%b4%d1%80%d0%b5%d0%b2%d0%bd%d0%b8%d0%b5_%d0%bb%d0%b5%d1%82%d0%be%d0%bf%d0%b8%d1%81%d0%b8-u1503-r.png") no-repeat 4px 0px;
}

#u1503:active
{
	background: url("../../images/%d1%87%d0%b8%d1%82%d0%b0%d1%8f_%d0%b4%d1%80%d0%b5%d0%b2%d0%bd%d0%b8%d0%b5_%d0%bb%d0%b5%d1%82%d0%be%d0%bf%d0%b8%d1%81%d0%b8-u1503-m.png") no-repeat 4px 0px;
}

#u1503.PamphletThumbSelected
{
	background: url("../../images/%d1%87%d0%b8%d1%82%d0%b0%d1%8f_%d0%b4%d1%80%d0%b5%d0%b2%d0%bd%d0%b8%d0%b5_%d0%bb%d0%b5%d1%82%d0%be%d0%bf%d0%b8%d1%81%d0%b8-u1503-a.png") no-repeat 0px 0px;
}

#u1504
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -159px;
}

#u1504popup
{
	z-index: 330;
}

#u1505
{
	z-index: 331;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1505:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1506-10
{
	z-index: 332;
	width: 187px;
	min-height: 68px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u1506-10:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 68px;
	margin: 13px -10000px 0px 0px;
}

#u1506-10:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 68px;
	margin: 13px -10000px 0px 0px;
}

#u1576
{
	z-index: 342;
	width: 58px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 208px;
}

#pamphletu1546
{
	z-index: 344;
	width: 0.01px;
	height: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 304px;
}

#u1558
{
	z-index: 345;
	width: 72px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1559
{
	position: absolute;
	height: 109px;
	width: 79px;
	vertical-align: top;
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_%d0%b8-%d0%bf%d0%be%d1%80%d1%8f%d0%b4%d0%be%d0%ba-u1559.png") no-repeat 4px 0px;
	left: -4px;
}

#u1559:hover
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_%d0%b8-%d0%bf%d0%be%d1%80%d1%8f%d0%b4%d0%be%d0%ba-u1559-r.png") no-repeat 4px 0px;
}

#u1559:active
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_%d0%b8-%d0%bf%d0%be%d1%80%d1%8f%d0%b4%d0%be%d0%ba-u1559-m.png") no-repeat 4px 0px;
}

#u1559.PamphletThumbSelected
{
	background: url("../../images/%d0%b0%d0%bd%d0%b0%d1%80%d1%85%d0%b8%d1%8f_%d0%b8-%d0%bf%d0%be%d1%80%d1%8f%d0%b4%d0%be%d0%ba-u1559-a.png") no-repeat 0px 0px;
}

#u1553
{
	position: absolute;
	width: 285px;
	top: -101px;
	left: -209px;
}

#u1553popup
{
	z-index: 351;
}

#u1554
{
	z-index: 352;
	width: 285px;
	height: 97px;
	border-style: none;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../../images/%d1%85%d0%be%d0%bb%d1%81%d1%82_%d0%ba%d0%be%d0%bc%d0%bf%d1%8c%d1%8e%d1%82%d0%b5%d1%80-u1308-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1554:hover
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(255, 255, 255, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1185:active,#u1168:active,#u1264:active,#u1296:active,#u1308:active,#u1328:active,#u1346:active,#u1372:active,#u1380:active,#u1403:active,#u1420:active,#u1446:active,#u1460:active,#u1486:active,#u1505:active,#u1554:active
{
	-pie-box-shadow: none;
	-moz-box-shadow: 0px 0px 7px 2px rgba(0, 255, 0, 0.5);
	-webkit-box-shadow: 0px 0px 7px 2px rgba(0, 255, 0, 0.5);
	box-shadow: 0px 0px 7px 2px rgba(0, 255, 0, 0.5);
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0px -10000px 0px 0px;
	background-size: cover !important;
}

#u1555-12
{
	z-index: 353;
	width: 174px;
	min-height: 77px;
	background-color: transparent;
	line-height: 14px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 25px;
}

#u1555-12:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 77px;
	margin: 8px -10000px 0px 0px;
}

#u1555-12:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 77px;
	margin: 8px -10000px 0px 0px;
}

#u1265-2,#u1265-4,#u1265-6,#u1299-2,#u1299-4,#u1299-6,#u1309-2,#u1309-4,#u1309-6,#u1309-8,#u1331-2,#u1331-4,#u1331-6,#u1347-2,#u1347-4,#u1347-6,#u1375-2,#u1375-4,#u1375-6,#u1375-8,#u1381-2,#u1381-4,#u1381-6,#u1381-8,#u1406-2,#u1406-4,#u1406-6,#u1406-8,#u1423-2,#u1423-4,#u1423-6,#u1423-8,#u1447-2,#u1447-4,#u1447-6,#u1447-8,#u1461-2,#u1461-4,#u1461-6,#u1461-8,#u1461-10,#u1487-2,#u1487-4,#u1487-6,#u1487-8,#u1506-2,#u1506-4,#u1506-6,#u1506-8,#u1555-2,#u1555-4,#u1555-6,#u1555-8,#u1555-10
{
	font-size: 12px;
}

#u1556
{
	z-index: 365;
	width: 59px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 205px;
}

#u1139-12
{
	z-index: 4;
	width: 380px;
	min-height: 91px;
	margin-top: 13px;
}

#page .verticalspacer
{
	clear: both;
}

